OpenLP.ini
Temp/*
settings/OpenLPPortableSettings.ini
presentations/thumbnails/
presentations/Pdf/
images/thumbnails/
debug.log
alerts
images/
media/
presentations/
projector/
songusage/
servicemanager/
